streamlit
streamlit-lottie
streamlit>=1.32
streamlit-lottie
soundfile
librosa
numpy
pandas
matplotlib
scikit-learn
transformers
torch
librosa
soundfile
pydub
scikit-learn
joblib
numpy
plotly
requests
